# Configuration file for invasion scenarios
# Daniel Vedder, 30/04/2018

# software parameters
seed 0 #random seed
maps "invasion.map"
dest "results/long1"
outfreq 10
logging true
debug false
fasta false
lineages true

# general model parameters
linkage "none"
nniches 2
tolerance "none"
static false
cellsize 20
mutate false
initadults true

# invasion parameters
propagule-pressure 0
global-species-pool 0
disturbance 0
