# Configuration file for invasion scenarios
# Daniel Vedder, 30/04/2018

# software parameters
seed 0 #random seed
maps "invasion.map"
dest "results/newsearch"
outfreq 50
logging true
debug true
fasta false
lineages true

# general model parameters
linkage "none"
nniches 2
tolerance "none"
static false
cellsize 10
mutate false
initadults false
initpopsize "metabolic"

# invasion parameters
propagule-pressure 0
global-species-pool 0
disturbance 1
burn-in 1000
