# Standard configuration file for Zosterops scenarios
# Daniel Vedder, 23/10/2020

# input/output settings
seed     0 #random seed
maps     taita_hills_test.map #TODO change after debugging
dest     results/taita
outfreq  1
logging  true
debug    true
stats    true
lineages true
fasta    off
raw      false

# general model parameters
linkage       none
nniches       2
static        false
mutate        false	# false for habitat fragmentation, true for phylogenetic study
usebiggenes   false
compressgenes false
indsize       adult
maxbreadth    5.0  	# XXX is this a sensible value?
capgrowth     true
degpleiotropy 0
		
# Zosterops-specific parameters
mode           zosterops
tolerance      0.1 # probability of females choosing a non-conspecific mate
speciation	   off # off for habitat fragmentation, neutral/ecological for phylogenetic study
cellsize       8   # average number of birds/ha (Mulwa et al. 2007) ##XXX there is a pretty large range
fertility      2   # average number of young per clutch (Jetz et al. 2008; expert knowledge)
dispmean       10  # mean dispersal distance of juveniles   ##TODO verify
dispshape      2   # dispersal kernel shape parameter       ##TODO verify
growthrate     exp(27.7) # global base growth to ensure that birds grow from 1g to 10-20g in one year
heterozygosity true
#TODO adjust repsize downward, remove seedsize (we don't need it)
maxrepsize     3.0 # maximal reproductive size in grams calculated as exp(maxrepsize) -> ca. 20g
maxseedsize    0.4 # maximal egg size in grams calculated as exp(maxseedsize)         -> ca. 1.5g
minrepsize     2.3 # minimal reproductive size in grams calculated as exp(minrepsize) -> ca. 10 g
minseedsize    0.1 # minimal egg size in grams calculated as exp(minseedsize)         -> ca. 1.1g
maxtemp        303 # maximum tolerated mean temperature -> 30°C
mintemp        283 # minimum tolerated mean temperature -> 10°C
species        Dict("silvanus"=>[180,90],"jubaensis"=>[50,47]) # AGC opt/tol (Pellikka et al. 2018) #TODO