# Standard configuration file for invasion scenarios
# Daniel Vedder, 30/04/2018
#        updated 22/01/2018

# software parameters
seed 0 #random seed
maps invasion.map
dest results/invasion_beta_1DB_1PP
outfreq 50
logging true
debug true
fasta false
lineages true
raw false

# general model parameters
linkage none
nniches 2
tolerance 1.0
static false
cellsize 2e6
mutate false
phylconstr 0 # all initialised individuals are cloned
usebiggenes false
indsize mixed
popsize metabolic
minseedsize 0
minrepsize 5
	
# invasion parameters
propagule-pressure 1
global-species-pool 100
disturbance 1
burn-in 500
